<table class="attr">
    <tr>
        <th width="150">ユーザID</th>
        <td><%= @member.user_id %></td>
    </tr>
    <tr>
        <th width="150">パスワード</th>
        <td>•••••••</td>
    </tr>
    <tr>
        <th width="150">氏名</th>
        <td><%= @member.name %></td>
    </tr>
</table>
