/* 表：一覧表示、詳細表示 */
table.list, table.attr {
    font-size: 105%;
    width: 100%;
  }
  
  table.list th, table.attr th {
    background-color: #3BAF75;
    color: white;
    font-weight: normal;
  }
  
  table.list td, table.list th,
  table.attr td, table.attr th {
    padding: 4px;
    border-width: 1px 1px; 
    border-color: #fff;  
    border-style: solid;   /* 線種：実線 */
    padding: 0.3em;        /* セル内側の余白 */
  }
  
  table.list th {
    text-align: center;
  }
  
  table.attr th {
    text-align: center;
  }
  
  table.list td, table.attr td {
    background-color: #DCF3E8;
  }