<% @page_title = "ユーザ新規登録" %>

<h1><%= @page_title %></h1>

<%= form_for @member, as: "account", url: :account do |form| %>
  <%= render "shared/user_form", form: form %>
  <div align="right"><input type="submit" class="btn btn-primary" value="新規作成"></div>
<% end %>
